{% extends 'portal/base.html' %}

{% block title %}
    Скалодромы всея СПб
{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Найди свой скалодром!</h1>
            <p class="lead">Эгегей, тут типо дипломная работа, и ниже ты можешь найти скалодромы</p>
        </div>
    </div>

    <div id='app' class="container-fluid">
        <div class="row">
            <div v-for='climbing_wall in climbing_walls' class="col-sm-4">
                <div class="card">
                    <div class="text-center" style="overflow: hidden; height: 200px;">
                        <img style="height:100%; width:auto;" class="card-img-top" :src="climbing_wall.logo">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">${ climbing_wall.name }$</h5>
                        <p class="card-text">${ climbing_wall.description }$</p>
                        <a :href="'/climbing_wall/'+climbing_wall.id" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            delimiters: ['${', '}$'],
            data: {
                climbing_walls: []
            },
            created() {
               axios.get('/api/v1/climbingwalls/').then(response => this.climbing_walls = response.data);
            }
        });
    </script>
{% endblock %}
